@charset "UTF-8";
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

:root {
  --primary-text-color: #212121;
  --title-text-color: #757575;
  --accent-color: #2196f3;
  --contrast-color: #ffffff;
  --grey-bg-color: #2F303A;
}

.backdrop {
  position: fixed;
  background-color: rgba(0, 0, 0, 0.2);
  top: 0;
  left: 0;
  visibility: visible;
  width: 100%;
  height: 100%;
  opacity: 1;
  -webkit-transform: translateY(0);
          transform: translateY(0);
  -webkit-transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
  -webkit-transition-property: -webkit-transform;
  transition-property: -webkit-transform;
  transition-property: transform;
  transition-property: transform, -webkit-transform;
  -webkit-transform: translate(100%, 100%);
          transform: translate(100%, 100%);
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 100%;
  min-height: 609px;
  background-color: var(--contrast-color);
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  padding: 40px;
}
@media screen and (min-width: 1200px) {
  .modal {
    min-width: 528px;
    min-height: 581px;
  }
}

.modal-close {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background-color: var(--contrast-color);
  cursor: pointer;
  -webkit-transition: fill 250ms;
  transition: fill 250ms;
}
.modal-close:hover, .modal-close:focus {
  fill: var(--accent-color);
}

.close-button {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  height: 18px;
  min-width: 18px;
}

.modal-title {
  font-weight: 700;
  color: var(--primary-text-color);
  font-size: 20px;
  line-height: 1.15;
  margin: 0 0 10px;
  text-align: center;
}

.modal-list.list {
  margin-bottom: 20px;
}

.modal-label {
  font-size: 12px;
  line-height: 1, 17;
  letter-spacing: 0.01em;
}

.modal-input {
  width: 100%;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  font-size: 16px;
  outline: unset;
  padding-left: 42px;
  -webkit-transition: border 250ms;
  transition: border 250ms;
}
.modal-input:focus {
  border: 1px solid var(--accent-color);
}

.modal-item:not(:last-child) {
  margin-bottom: 10px;
}

.modal-item {
  position: relative;
}

.modal-comment {
  width: 100%;
  height: 138px;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
  outline: transparent;
  padding: 16px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  resize: none;
  display: block;
}

.modal-comment::-webkit-input-placeholder {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.modal-comment::-moz-placeholder {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.modal-comment:-ms-input-placeholder {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.modal-comment::-ms-input-placeholder {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.modal-comment::placeholder {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.icon-modal {
  position: absolute;
  left: 12px;
  bottom: 11px;
  fill: var(--primary-text-color);
  -webkit-transition: fill 250ms;
  transition: fill 250ms;
}

.modal-comment:focus {
  border: 1px solid var(--accent-color);
  cursor: pointer;
}

.modal-input:focus + .icon-modal {
  fill: var(--accent-color);
}

.privacy-rules {
  color: var(--accent-color);
  line-height: 1.71px;
  margin-left: 4px;
}

input-check {
  left: 23px;
}

.privacy {
  margin-bottom: 30px;
}

.privacy-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 12px;
  line-height: 1.17;
}
@media screen and (min-width: 1200px) {
  .privacy-text {
    font-size: 14px;
    line-height: 1.71px;
  }
}

.privacy-text::before {
  content: "";
  width: 16px;
  height: 15px;
  border-radius: 2px;
  border: 2px solid #000000;
  margin-right: 7px;
}

.input-check:checked + .privacy-text::before {
  background-color: var(--accent-color);
  border: none;
  background-image: url(../images/icon-check.svg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.modal-button {
  min-width: 200px;
  height: 50px;
  background-color: var(--accent-color);
  color: var(--contrast-color);
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  border-style: none;
  border-radius: 4px;
  letter-spacing: 0.06em;
  -webkit-transition-property: background-color;
  transition-property: background-color;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  display: block;
  margin: auto;
}
.modal-button:hover, .modal-button:focus {
  cursor: pointer;
  background-color: #188CE8;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.hero {
  max-width: 1600px;
  background-color: #C4C4C4;
  text-align: center;
  padding: 118px 0;
  background-image: -webkit-gradient(linear, right bottom, left top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/hero1px-mob.jpg);
  background-image: linear-gradient(to top left, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero1px-mob.jpg);
  background-repeat: no-repeat;
  background-position: center;
  margin: auto;
  background-size: cover;
}
@media (min-device-pixel-ratio: 2), (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .hero {
    background-image: -webkit-gradient(linear, right bottom, left top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/hero2px-mob.jpg);
    background-image: linear-gradient(to top left, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero2px-mob.jpg);
  }
}
@media screen and (min-width: 481px) {
  .hero {
    background-image: -webkit-gradient(linear, right bottom, left top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/hero1px-tab.jpg);
    background-image: linear-gradient(to top left, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero1px-tab.jpg);
  }
}
@media screen and (min-width: 481px) and (min-device-pixel-ratio: 2), screen and (min-width: 481px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 481px) and (min-resolution: 192dpi), screen and (min-width: 481px) and (min-resolution: 2dppx) {
  .hero {
    background-image: -webkit-gradient(linear, right bottom, left top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/hero2px-tab.jpg);
    background-image: linear-gradient(to top left, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero2px-tab.jpg);
  }
}
@media screen and (min-width: 769px) {
  .hero {
    background-image: -webkit-gradient(linear, right bottom, left top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/imgfon-descx1-min.jpg);
    background-image: linear-gradient(to top left, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/imgfon-descx1-min.jpg);
  }
}
@media screen and (min-width: 769px) and (min-device-pixel-ratio: 2), screen and (min-width: 769px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 769px) and (min-resolution: 192dpi), screen and (min-width: 769px) and (min-resolution: 2dppx) {
  .hero {
    background-image: -webkit-gradient(linear, right bottom, left top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/imgfon-descx2-min.jpg);
    background-image: linear-gradient(to top left, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/imgfon-descx2-min.jpg);
  }
}
@media screen and (min-width: 1200px) {
  .hero {
    padding: 200px 0;
  }
}

.hero-title {
  margin-top: 0;
  margin-bottom: 30px;
  color: var(--contrast-color);
  font-weight: 900;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  font-size: 26px;
  line-height: 1.6;
}
@media screen and (min-width: 1200px) {
  .hero-title {
    font-size: 44px;
    line-height: 1.36;
  }
}

.button {
  display: inline-block;
  color: var(--primary-text-color);
  background-color: var(--contrast-color);
  font-family: Roboto, sans-serif;
  text-align: center;
  cursor: pointer;
  border-style: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.button-primary {
  border-radius: 4px;
  color: var(--contrast-color);
  background-color: var(--accent-color);
  min-width: 200px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  border: transparent;
  padding: 10px 24px;
  -webkit-transition-property: background-color;
  transition-property: background-color;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
@media screen and (min-width: 1200px) {
  .button-primary {
    padding: 10px 32px;
  }
}
.button-primary:hover, .button-primary:focus {
  color: var(--contrast-color);
  background: #188CE8;
  cursor: pointer;
}

.button-secondary {
  color: var(--primary-text-color);
  background-color: var(--contrast-color);
  min-width: 73px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  border-radius: 4px;
  padding: 6px 22px;
  border: transparent;
  letter-spacing: 0.03em;
  background: #F5F4FA;
  cursor: pointer;
  -webkit-transition-property: color, background-color, -webkit-box-shadow;
  transition-property: color, background-color, -webkit-box-shadow;
  transition-property: color, background-color, box-shadow;
  transition-property: color, background-color, box-shadow, -webkit-box-shadow;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.button-secondary:hover, .button-secondary:focus {
  color: var(--contrast-color);
  background-color: var(--accent-color);
  -webkit-box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.12), 0px 1px 2px 0px rgba(0, 0, 0, 0.08), 0px 3px 1px 0px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.12), 0px 1px 2px 0px rgba(0, 0, 0, 0.08), 0px 3px 1px 0px rgba(0, 0, 0, 0.1);
}

.button-secondary.different {
  padding: 6px 25px;
}

.page-header {
  border-bottom-width: 1px;
  border-bottom-color: #ececec;
  border-bottom-style: solid;
  max-width: 1600px;
  background-position: center;
  margin: auto;
}

.main-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.site-nav.list {
  display: none;
}
@media screen and (min-width: 768px) {
  .site-nav.list {
    margin-left: 87px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}
@media screen and (min-width: 1200px) {
  .site-nav.list {
    margin-left: 93px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.site-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.site-nav .item {
  margin-right: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.site-nav .item:last-child {
  margin-right: 0;
}

.current {
  position: relative;
}

.current::after {
  display: none;
}
@media screen and (min-width: 768px) {
  .current::after {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    content: "";
    position: absolute;
    bottom: 0;
    height: 4px;
    width: 100%;
    background-color: var(--accent-color);
    border-radius: 2px;
  }
}
@media screen and (min-width: 1200px) {
  .current::after {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    content: "";
    position: absolute;
    bottom: 0;
    weight: 4px;
    width: 100%;
    background-color: var(--accent-color);
    border-radius: 2px;
  }
}

.site-nav .link.current {
  color: var(--accent-color);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.main-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: auto;
}

.contact-list {
  display: none;
}
@media screen and (min-width: 768px) {
  .contact-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-top: 21px;
    margin-bottom: 21px;
    margin-left: auto;
    width: 138px;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    gap: 10px;
  }
}
@media screen and (min-width: 1200px) {
  .contact-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    gap: 50px;
    width: auto;
    margin-left: auto;
  }
}

.contact {
  color: var(--title-text-color);
  text-decoration: none;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.02em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.contact:hover, .contact:focus {
  color: var(--accent-color);
}
@media screen and (min-width: 768px) {
  .contact {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    font-size: 12px;
    line-height: 1.16;
  }
}
@media screen and (min-width: 1200px) {
  .contact {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding-top: 32px;
    padding-bottom: 32px;
    font-size: 14px;
    line-height: 1.14;
  }
}

.item-mail,
.item-tel {
  fill: currentColor;
  margin-right: 10px;
  -ms-flex-item-align: center;
      align-self: center;
}

.contact.list .item + .item {
  margin-left: 50px;
}

.menu-toggle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: transparent;
  border: none;
  margin-right: 0;
  padding: 0;
  margin-left: auto;
  min-height: 40px;
  min-width: 40px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
  border: none;
  border-radius: 50%;
  outline: none;
}
@media screen and (min-width: 768px) {
  .menu-toggle {
    display: none;
  }
}
@media screen and (min-width: 1200px) {
  .menu-toggle {
    display: none;
  }
}
.menu-toggle:hover, .menu-toggle:focus {
  background-color: rgba(0, 0, 0, 0.1);
}

.menu-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  padding: 40px 48px;
  background-color: var(--contrast-color);
  z-index: 999;
  -webkit-transform: translateX(100%);
          transform: translateX(100%);
  -webkit-transition: -webkit-transform 250ms ease-in-out;
  transition: -webkit-transform 250ms ease-in-out;
  transition: transform 250ms ease-in-out;
  transition: transform 250ms ease-in-out, -webkit-transform 250ms ease-in-out;
}
@media screen and (min-width: 768px) {
  .menu-container {
    display: none;
  }
}
@media screen and (min-width: 1200px) {
  .menu-container {
    display: none;
  }
}

.menu-container.is-open {
  -webkit-transform: translateX(0);
          transform: translateX(0);
  overflow-y: auto;
}
@media screen and (min-width: 768px) {
  .menu-container.is-open {
    display: none;
  }
}

.menu-container .menu-toggle {
  position: absolute;
  top: 16px;
  right: 16px;
  color: #fff;
}
@media screen and (min-width: 768px) {
  .menu-container .menu-toggle {
    display: none;
  }
}

.contact-list.mobile-menu {
  gap: 32px;
  display: block;
  margin-bottom: 64px;
}
@media screen and (min-width: 768px) {
  .contact-list.mobile-menu {
    display: none;
  }
}

.mobile-logo {
  display: none;
}

.social-mobile {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 10px;
}

.social-mobile-link {
  color: var(--accent-color);
  text-decoration: none;
  font-weight: 500;
  font-size: 18px;
  line-height: 1.16;
  letter-spacing: 0.02em;
}

.social-mobile-item:not(:last-child) {
  border-right: 1px solid rgba(33, 33, 33, 0.2);
  padding-right: 10px;
}

.site-nav.mobile-menu {
  display: block;
}
@media screen and (min-width: 768px) {
  .site-nav.mobile-menu {
    display: none;
  }
}

.site-nav .link {
  color: var(--primary-text-color);
  text-decoration: none;
  font-size: 40px;
  font-weight: 500;
  line-height: 1.17;
  letter-spacing: 0.02em;
  display: block;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
@media screen and (min-width: 768px) {
  .site-nav .link {
    padding: 32px 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    font-size: 12px;
    line-height: 1.16;
  }
}
@media screen and (min-width: 1200px) {
  .site-nav .link {
    line-height: 1.14;
    letter-spacing: 0.02em;
    padding: 32px 0;
    display: block;
  }
}
.site-nav .link:hover, .site-nav .link:focus {
  color: var(--accent-color);
}

.mobile-menu .item:not(:last-child) {
  margin-bottom: 32px;
}

.mobile-menu .item-contact:not(:last-child) {
  margin-bottom: 32px;
}

.mobile.menu .item-contact {
  width: 100%;
}

.item-contact.tel .contact {
  display: inline;
  font-weight: 500px;
  font-size: 34px;
  color: var(--accent-color);
}

.item-contact.mail .contact {
  font-weight: 500px;
  font-size: 24px;
}

.clients__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 30px;
}

.clients__link {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  width: 100%;
  height: 92px;
  border-radius: 4px;
  border: 1px solid #AFB1B8;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: transparent;
  color: #AFB1B8;
  -webkit-transition-property: color, border;
  transition-property: color, border;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
@media screen and (min-width: 480px) {
  .clients__link {
    width: 210px;
  }
}
@media screen and (min-width: 768px) {
  .clients__link {
    width: 226px;
  }
}
@media screen and (min-width: 1200px) {
  .clients__link {
    width: 170px;
  }
}
.clients__link:hover, .clients__link:focus {
  color: var(--accent-color);
  border: 1px solid var(--accent-color);
}

.clients__icon {
  fill: currentColor;
}

.team__name {
  color: var(--primary-text-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.17;
  margin-bottom: 10px;
  margin-top: 0;
  text-align: center;
}

.team__position {
  font-size: 16px;
  line-height: 1.17;
  margin-top: 0;
  margin-bottom: 16px;
  text-align: center;
}

.team__title {
  margin-top: 0;
  margin-bottom: 50px;
}

.team-unit {
  padding: 30px 0 24px;
}

.team {
  background-color: #F5F4FA;
}

.team__item {
  border-radius: 0px 0px 4px 4px;
  background-color: var(--contrast-color);
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
}
.team__item:hover {
  opacity: 1;
  -webkit-transform: translateY(0);
          transform: translateY(0);
  -webkit-transition: -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  -webkit-transition-property: -webkit-transform;
  transition-property: -webkit-transform;
  transition-property: transform;
  transition-property: transform, -webkit-transform;
}
@media screen and (min-width: 768px) {
  .team__item {
    width: 354px;
  }
}
@media screen and (min-width: 1200px) {
  .team__item {
    width: 270px;
  }
}

.team_view {
  display: block;
  max-width: 100%;
  height: auto;
}

.team__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 30px;
}

.social-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 10px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  list-style: none;
}

.social-link {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: var(--contrast-color);
  color: #AFB1B8;
  -webkit-transition-property: background-color, color;
  transition-property: background-color, color;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.social-link:hover, .social-link:focus {
  background-color: var(--accent-color);
  color: var(--contrast-color);
}

.social-icon {
  fill: currentColor;
}

.direction.section {
  padding-top: 0;
}
@media screen and (max-width: 1199px) {
  .direction.section {
    display: none;
  }
}

.direction__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 30px;
}

.direction__list .direction__item + .directiom__item {
  margin-left: 30px;
}

/* ---------------------Позиціонування та перехід блоку Чим ми займаємося */
.direction__item {
  position: relative;
  overflow: hidden;
}

.direction__description {
  position: absolute;
  width: 100%;
  height: 70px;
  bottom: 0;
  margin: 0;
  background-color: rgba(47, 48, 58, 0.8);
  color: var(--contrast-color);
  text-transform: uppercase;
  line-height: 1.14;
  padding-top: 27px;
  padding-bottom: 27px;
  text-align: center;
  font-weight: 700;
  -webkit-transition-property: -webkit-transform;
  transition-property: -webkit-transform;
  transition-property: transform;
  transition-property: transform, -webkit-transform;
}

.icon {
  display: block;
}

.benefits__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 30px;
}

.benefits__list .benefits__subtitle {
  color: var(--primary-text-color);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-top: 0;
  margin-bottom: 0;
  text-align: center;
}
@media screen and (min-width: 768px) {
  .benefits__list .benefits__subtitle {
    text-align: start;
  }
}

.benefits__list {
  list-style: none;
}

.benefits__description {
  font-size: 14px;
  line-height: 1.71;
  margin-top: 10px;
  margin-bottom: 0;
}
@media screen and (min-width: 768px) {
  .benefits__description {
    max-width: 354px;
  }
}
@media screen and (min-width: 1200px) {
  .benefits__description {
    max-width: 270px;
  }
}

.benefits__block {
  height: 120px;
  background-color: #F5F4FA;
  border-radius: 4px;
  margin-bottom: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media screen and (min-width: 768px) {
  .benefits__block {
    min-width: 354px;
  }
}
@media screen and (min-width: 1200px) {
  .benefits__block {
    min-width: 270px;
  }
}
.benefits__block:hover, .benefits__block:focus {
  cursor: pointer;
}

.benefits-icon {
  fill: currentColor;
}

body {
  color: var(--title-text-color);
  font-family: Roboto, sans-serif;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

.section {
  padding-top: 60px;
  padding-bottom: 60px;
}
@media screen and (min-width: 1200px) {
  .section {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.list {
  list-style: none;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

.title {
  color: var(--primary-text-color);
  font-weight: 700;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
  list-style: none;
  margin-top: 0;
  margin-bottom: 30px;
  font-size: 28px;
}
@media screen and (min-width: 1200px) {
  .title {
    font-size: 36px;
    margin-bottom: 50px;
  }
}

.container {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-left: auto;
  margin-right: auto;
}
@media screen and (min-width: 480px) {
  .container {
    max-width: 480px;
  }
}
@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    max-width: 1200px;
  }
}

.bottom {
  padding: 60px 0;
  background-color: var(--grey-bg-color);
  background-position: center;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}
@media screen and (min-width: 768px) {
  .bottom {
    min-width: 764px;
  }
}
@media screen and (min-width: 1200px) {
  .bottom {
    min-width: 1200px;
  }
}

.mobile-bottom {
  text-align: center;
}
@media screen and (min-width: 768px) {
  .mobile-bottom {
    text-align: center;
  }
}
@media screen and (min-width: 1200px) {
  .mobile-bottom {
    text-align: start;
  }
}

.location {
  color: var(--contrast-color);
  font-size: 14px;
  line-height: 1.71;
  text-decoration: none;
  font-style: normal;
  margin-top: 20px;
  margin-bottom: 9px;
}

.footer-address {
  font-style: normal;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer-address li:not(:last-child) {
  margin-bottom: 9px;
}

.communication {
  color: rgba(255, 255, 255, 0.6);
  text-decoration: none;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.communication:hover, .communication:focus {
  color: var(--accent-color);
}

.bottom .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 70px;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
}

.social-footer {
  text-align: center;
}
@media screen and (min-width: 768px) {
  .social-footer {
    text-align: center;
  }
}
@media screen and (min-width: 1200px) {
  .social-footer {
    text-align: start;
  }
}

.social-footer-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 10px;
}

.social-footer-name {
  text-transform: uppercase;
  color: var(--contrast-color);
  margin-bottom: 20px;
  margin-top: 0;
  font-size: 14px;
}

.social-footer-link {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: rgba(255, 255, 255, 0.1);
  color: #AFB1B8;
  padding: 0;
  -webkit-transition-property: background-color, color;
  transition-property: background-color, color;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.social-footer-link:hover, .social-footer-link:focus {
  background-color: var(--accent-color);
  color: var(--contrast-color);
}

.social-footer-icon {
  fill: var(--contrast-color);
}

.connect-title {
  text-transform: uppercase;
  color: var(--contrast-color);
  margin-top: 0;
  font-size: 14px;
  margin-bottom: 20px;
}
@media screen and (min-width: 1200px) {
  .connect-title {
    text-align: start;
  }
}

.footer-input {
  max-width: 450px;
  width: 100%;
  height: 50px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  background-color: inherit;
  margin-bottom: 20px;
}
@media screen and (min-width: 480px) {
  .footer-input {
    width: 450px;
  }
}
@media screen and (min-width: 1200px) {
  .footer-input {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    width: 358px;
    gap: 12px;
  }
}

.footer-input:hover,
.footer-input:focus {
  cursor: pointer;
  border: 1px solid var(--accent-color);
}

.footer-input::-webkit-input-placeholder {
  width: 47px;
  height: 20px;
  color: rgba(255, 255, 255, 0.6);
  font-size: 16px;
  line-height: 1.25;
  padding-left: 16px;
}

.footer-input::-moz-placeholder {
  width: 47px;
  height: 20px;
  color: rgba(255, 255, 255, 0.6);
  font-size: 16px;
  line-height: 1.25;
  padding-left: 16px;
}

.footer-input:-ms-input-placeholder {
  width: 47px;
  height: 20px;
  color: rgba(255, 255, 255, 0.6);
  font-size: 16px;
  line-height: 1.25;
  padding-left: 16px;
}

.footer-input::-ms-input-placeholder {
  width: 47px;
  height: 20px;
  color: rgba(255, 255, 255, 0.6);
  font-size: 16px;
  line-height: 1.25;
  padding-left: 16px;
}

.footer-input::placeholder {
  width: 47px;
  height: 20px;
  color: rgba(255, 255, 255, 0.6);
  font-size: 16px;
  line-height: 1.25;
  padding-left: 16px;
}

.connect-button {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 10px;
  padding: 10px 28px;
  margin-left: 12px;
  color: var(--contrast-color);
  background-color: var(--accent-color);
  border-style: none;
  cursor: pointer;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  border-radius: 4px;
  -webkit-transition-property: background-color;
  transition-property: background-color;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.connect.button:hover,
.connect.button:focus {
  color: var(--contrast-color);
  background: #188CE8;
  cursor: pointer;
}

.connect-form {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  position: relative;
  width: 100%;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
@media screen and (min-width: 768px) {
  .connect-form {
    text-align: center;
  }
}
@media screen and (min-width: 1200px) {
  .connect-form {
    width: auto;
    display: inline-block;
    position: relative;
    text-align: start;
  }
}

.connect {
  text-align: center;
}
@media screen and (min-width: 768px) {
  .connect {
    text-align: center;
  }
}
.list.portfolio {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 50px;
}

.list.portfolio .item:not(:first-child) {
  margin-left: 8px;
}

.type-button {
  margin-bottom: 34px;
  margin-top: 0;
}

.portfolio > .border {
  border: 1px solid #EEEEEE;
  width: 370px;
}

.list.model {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.list.model .item {
  margin-right: 30px;
  margin-bottom: 30px;
  display: block;
  line-height: 0;
}

.product-link:hover,
.product-link:focus {
  -webkit-box-shadow: 1px 4px 6px 0px rgba(0, 0, 0, 0.16), 0px 4px 4px 0px rgba(0, 0, 0, 0.06), 0px 1px 1px 0px rgba(0, 0, 0, 0.12);
          box-shadow: 1px 4px 6px 0px rgba(0, 0, 0, 0.16), 0px 4px 4px 0px rgba(0, 0, 0, 0.06), 0px 1px 1px 0px rgba(0, 0, 0, 0.12);
}

.list.model .item:nth-child(3n) {
  margin-right: 0px;
}

.list.model .item:nth-last-child(-n+3) {
  margin-bottom: 0;
}

.list.model .border {
  border: 1px solid #EEEEEE;
}

.product {
  color: var(--primary-text-color);
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  margin-top: 20px;
  padding-left: 24px;
  margin-bottom: 0;
}

.product-link {
  text-decoration: none;
  color: inherit;
  display: block;
  -webkit-transition: -webkit-box-shadow 250ms;
  transition: -webkit-box-shadow 250ms;
  transition: box-shadow 250ms;
  transition: box-shadow 250ms, -webkit-box-shadow 250ms;
}

.product-type {
  font-size: 16px;
  line-height: 1.87;
  margin-top: 4px;
  padding-left: 24px;
  padding-bottom: 20px;
  margin-bottom: 0;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.card-product {
  position: relative;
  overflow: hidden;
}

.card-product-text {
  position: absolute;
  width: 100%;
  height: 100%;
  bottom: 0;
  margin: 0;
  right: 0;
  background-color: rgba(33, 150, 243, 0.9);
  color: var(--contrast-color);
  font-size: 18px;
  line-height: 1.6;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 24px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  -webkit-transform: translateY(101%);
          transform: translateY(101%);
}

.list.model .product-link:hover .card-product-text,
.list.model .product-link:focus .card-product-text {
  opacity: 1;
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

.logo {
  color: #000000;
  text-decoration: none;
  font-family: Raleway, cursive;
  font-weight: 700;
  font-size: 24px;
  line-height: 1.4;
  padding: 16px 0;
}
@media screen and (min-width: 768px) {
  .logo {
    font-size: 24px;
    line-height: 1.4;
  }
}
@media screen and (min-width: 1200px) {
  .logo {
    font-size: 26px;
    line-height: 1.2;
  }
}

.logo-web {
  color: var(--accent-color);
  text-decoration: none;
  font-family: Raleway, cursive;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
}

.logo-bottom {
  color: var(--contrast-color);
  display: inline-block;
  text-decoration: none;
  font-family: Raleway, cursive;
  font-weight: 700;
  font-size: 24px;
  line-height: 1.19;
  margin-bottom: 20px;
}
@media screen and (min-width: 768px) {
  .logo-bottom {
    font-size: 24px;
    line-height: 1.4;
  }
}
@media screen and (min-width: 1200px) {
  .logo-bottom {
    font-size: 26px;
    line-height: 1.2;
  }
}/*# sourceMappingURL=main.css.map */